body {
	font-family: "Open Sans", sans-serif;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

section {
	padding-top: 110px;
}

header {
	background-color: #E37C37;
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: 70px;
	z-index: 10;
	font-family: 'Ubuntu', sans-serif;
	background-origin: content-box;
	color: #FFF;
	position: absolute;
	width: 100%;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.8);
	height: 70px;
	transition: all 0.65s ease;
}

header a {
	text-decoration: none;
	color: white;
}

.botao {
	background: #373737;
	background-image: linear-gradient(to bottom, #373737, #5F5F5F);
	border-radius: 5px;
	font-family: 'Ubuntu', sans-serif;
	color: #FFF;
	font-size: 20px;
	font-weight: 100;
	text-align: center;
	cursor: default;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.botao:hover {
	background: #5F5F5F;
	background-image: linear-gradient(to bottom, #373737, #373737);
	text-decoration: none;
}

.suaFrente {
	text-align: center;
	/*font-family: 'Lobster', cursive;*/
	font-family: 'Ubuntu', sans-serif;
	width: 50%;
	float: left;
	transition: all 0.5s ease;
	padding-top: 50px;
}

.suaFrente  img {
	transition: all 0.5s ease;
	width: 15%;
	cursor: default;
}

#cabecalhoParteEsquerda {
	float: left;
	cursor: default;
}

#cabecalhoParteEsquerda img {
	width: 60px;
}

#cabecalhoParteMeio {
	position: absolute;
	left: 50%;
	cursor: default;
	top: 60px;
	margin-left: -85px;
}

#cabecalhoParteMeio > img {
	width: 170px;
	
}

#cabecalhoParteDireita {
	float: right;
	cursor: default;
}

#cabecalhoParteEsquerda>div, #cabecalhoParteDireita>div {
	display: inline-block;
	margin: 10px 30px;
}

#mensagemConvite {
	width: 700px;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	display: inline-block;
}

#mensagemConvite h1 {
	color: #FFF;
	font-size: 60px;
}

.suaFrente:hover img {
	width: 30%;
}

.suaFrente>div {
	font-size: 24px;
	transition: all 0.5s ease;
	color: #FFF;
	text-align: center;
	text-transform: capitalize;
	cursor: default;
}

.suaFrente:hover>div {
	font-size: 14px;
}

footer {
	position: absolute;
	color: #333;
	width: 100%;
	bottom: 0;
	font-size: 12px;
	cursor: pointer;
	top: 1715px;
	height: 150px;
	background: #FFFF00;
}

#sobre {
	width: 300px;
	line-height: 20px;
	border-radius: 5px;
	margin-left: 10px;
	cursor: default;
	background: darkorange;
	font-size: 14px;
	text-align: justify;
	color: white;
	height: 200px;
	z-index: 1;
	position: relative;
	box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.8);
	overflow: hidden;
	transition: all 0.3s ease;
}

#sobre>div:first-child {
	padding: 15px;
}

#sobre:hover {
	height: 430px;
}

#sobre:hover #fundoEspecial {
	background: none;
}

#fundoEspecial {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(0deg, rgb(255, 140, 0) 0%,
		rgba(255, 255, 255, 0) 70%);
}

#numerosSituacao {
	background: #FFF;
	position: absolute;
	padding: 30px 0;
	width: 100%;
	top: 690px;
}

#numerosSituacao > div {
	float: left;
	font-family: 'Ubuntu', sans-serif;
	width: 50%;
	box-sizing: content-box;
	font-weight: bold;
	transition: all 0.5s ease;
	text-align: center;
	cursor: default;
	color: rgba(65, 184, 20, 1);
}

#numerosSituacao>div>div:first-child {
	font-size: 60px;
}

#numerosSituacao>div:hover {
	color: rgba(255, 102, 51, 1);
}

#sobre_fornecedor, #sobre_transportadora {
	text-decoration: underline;
	font-weight: bolder;
}

#sobre_fornecedor:hover, #sobre_transportadora:hover {
	color: yellow;
}

#a_transportadora, #o_fornecedor {
	height: 400px;
	border-radius: 5px;
	box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.8);
	text-align: justify;
	width: 600px;
	position: fixed;
	right: -650px;
	padding: 15px;
	color: #41B814;
	background: yellow;
}

#a_transportadora>h4, #o_fornecedor>h4 {
	font-family: 'Ubuntu', sans-serif;
}

#loginCadastroBloco {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	background: #FFFDF0;
	position: absolute;
	top: -400px;
	z-index: 11;
	left: 50%;
	color: #444;
	margin-left: -150px;
	box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.8);
}

.parteLogin, .parteCadastro, .parteEsqueci {
	padding: 5px 10px;
	margin-left: 35px;
	font-size: 14px;
}

#loginCadastroBloco>div:nth-child(2), #loginCadastroBloco>div:nth-child(5)
	{
	margin-top: 50px;
}

.parteLogin>div:first-child, .parteCadastro>div:first-child {
	height: 20px;
	transition: all 0.5s ease;
	cursor: default;
	font-size: 14px;
}

#loginCadastroBloco input:not ([type=checkbox] ) {
	border-left-width: 2px;
	border-left-color: #FFFDF0;
	border-left-style: solid;
	border-right-width: 2px;
	border-right-color: #FFFDF0;
	border-right-style: solid;
	border-top-width: 2px;
	border-top-color: #FFFDF0;
	border-top-style: solid;
	border-bottom: 2px #AAA solid;
	color: #444;
	transition: background 1s ease, border-left-color 1s ease,
		border-right-color 1s ease, border-top-color 1s ease;
	background: inherit;
}

.parteLogin input:not ([type=checkbox] ){
	width: 200px;
}

.parteCadastro input:not ([type=checkbox] ){
	width: 300px;
}

#loginCadastroBloco input:focus {
	background: #F7FF55;
	border-right-color: #AAA;
	border-top-color: #AAA;
	border-left-color: #AAA;
}

#loginCadastroBloco button {
	width: 200px;
}

#esqueciSenha {
	font-size: 12px;
	color: orange;
	text-decoration: underline;
	text-align: right;
	width: 200px;
	padding-top: 10px;
	transition: color 0.5s ease;
	cursor: pointer;
}

#esqueciSenha:hover {
	color: #333;
}

#cadastreSeAgora {
	font-size: 12px;
	color: orange;
	text-decoration: underline;
	text-align: center;
	width: 200px;
	padding-top: 5px;
	transition: all 0.5s ease;
	cursor: pointer;
}

#cadastreSeAgora:hover {
	color: #41B814;
}

#esconderLogin {
	font-size: 12px;
	margin-top: 267px;
	display: inline-block;
	transition: all 0.5s ease;
	text-align: center;
	position: absolute;
	margin-left: 135px;
	cursor: default;
}

#esconderLogin:hover {
	margin-top: 262px;
}

#esconderLogin>img {
	width: 30px;
	height: 30px;
}

#lembrarMeBloco {
	color: #41B814;
	font-size: 12px;
}

.parteCadastro {
	display: none;
}

.subTitulo {
	color: #41B814;
	font-size: 24px !important;
	font-weight: bold;
	padding: 10px 0;
	white-space: nowrap;
}

.parteCadastro button {
	width: 300px !important;
}

.parteCadastro p {
	width: 300px;
	text-align: justify;
	font-size: 11px;
	color: #FB7700;
}

.parteEsqueci {
	display: none;
}

.parteEsqueci p {
	font-size: 11px;
	text-align: justify;
	width: 190px;
	color: orange;
	padding: 10px;
}

#videoInspirador {
	text-align: center;
	background: #FFF;
	position: absolute;
	padding: 30px 0;
	width: 100%;
	top: 690px;
}

#videoInspirador>iframe {
	box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.8);
}

#blocoInfo {
	text-align: center;
	background: #FFF;
	position: absolute;
	padding: 30px 0;
	width: 100%;
	top: 1060px;
}

#fraseOquefazemos {
	font-size: 16px;
	padding: 10px 100px 50px;
	font-weight: lighter;
	text-align: center;
}

#subtitulo1 {
	font-size: 40px;
	font-weight: bolder;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	padding-bottom: 20px;
	cursor: default;
}

#subtituloDoando, #subtituloRecebendo {
	float: left;
	width: 50%;
	letter-spacing: 1px;
	box-sizing: border-box;
	padding: 40px;
	background: #FFF;
	cursor: default;
	text-align: center;
	transition: all 0.5s ease;
}

#subtituloDoando {
	color: #3BA336;
}

#subtituloDoando:hover {
	color: #FFF;
	background: #3BA336;
}

#subtituloRecebendo {
	color: #DE5F00;
}

#subtituloRecebendo:hover {
	color: #FFF;
	background: #DE5F00;;
}

#comoFunciona {
	width: 100%;
	height: 350px;
	position: relative;
	margin: 95px auto 40px;
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-o-perspective: 800px;
	perspective: 800px;
}

#conteudoComoFunciona.flipped {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

#conteudoComoFunciona {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

#conteudoComoFunciona>div {
	display: block;
	height: 100%;
	width: 100%;
	color: white;
	text-align: center;
	position: absolute;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

#conteudoComoFunciona .comoDoando {
	background: #3BA336;
}

#conteudoComoFunciona .comoRecebendo {
	background: #DE5F00;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

#conteudoComoFunciona .comoDoando>div, #conteudoComoFunciona .comoRecebendo>div
	{
	float: left;
	padding: 30px;
	width: 33.3%;
	box-sizing: border-box;
}

.material-icons {
	font-size: 72px;
}

.subtitulo2 {
	font-weight: bold;
	padding-bottom: 50px;
	font-size: 21px;
}

.mensagemComo {
	text-align: center;
	width: 100%;
}

.mensagemComo>p {
	display: inline-block;
	font-size: 14px;
	width: 300px;
}
#carregando {
	width: 60px;
	height: 55.94px;
	vertical-align: middle;
	margin: 0 !important;
	display: inline-block;
}
#carregando > img {
	width: 35px !important;
	margin: 10px !important;
}
#logotipo {
	display: none;
}
.refesp {
	color: #FFF;
}
.links > div {
	padding: 5px;
}
.links {
	float: left;
	margin: 20px;
	
}
.links a, .links  {
	color: #046FAE;
	text-decoration: none;
}
#direitoreserv {
	position: absolute;
	padding: 20px;
	bottom: 0;
	color: #046FAE;
	right: 0;
}