#blocoLogin {
	width: 320px;
	margin-left: -160px;
	position: absolute;
	left: 50%;
	padding: 20px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.63);
	color: #FFF;
}
html, body {
	overflow: hidden;
}
.padrao {
	background-color: rgba(227, 124, 55, 1);
	transition: all 2s ease;
}
.erro {
	background-color: #F00 !important;
	transition: all 2s ease;
}
.padraoErro {
	background-color: #A00;
	transition: all 5s ease;
}
.padraoFundo {
	background-color: #FFF;
	transition: all 5s ease;
}
#email, #senha, #cpf {
	box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.63);
	width: 300px;
	text-align: center;
	margin: 10px 10px 10px 0;
	padding: 10px;
	font-size: 18px;
	border: none;
	color: #008000;
	border-radius: 5px;
}

#botaoEntrar {
	margin-top: 10px;
	border: none;
	width: 320px;
	border: none;
}

#esqueciConta, #criarConta {
	font-size: 14px;
	display: inline-block;
	margin: 10px;
	text-decoration: underline;
	float: left;
	cursor: pointer;
	transition: all 0.5s ease;
	color: #FFF;
}
#esqueciConta {
	float: left;
}
#criarConta {
	float: right;
}

#esqueciConta:hover, #criarConta:hover  {
	color: #80FF80;
}
#esqueciIniciar {
	margin-top: 10px;
}
#esquecii {
	width: 320px;
	margin-left: -160px;
	position: absolute;
	left: 50%;
	padding: 20px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.63);
	color: #FFF;
	bottom: -500px;
	background-color: rgba(227, 124, 55, 1);
	transition: all 0.2s ease;
}
#esquecii i {
	font-size: 20px !important;
	cursor: default;
	transition: all 0.5s ease;
}
#esquecii i:hover {
	color: #333;
}
#carregando {
	display: none;
	text-align: center;
}