#opcaoPainel {
	padding: 20px;
	background-color: #008080;
	box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
	width: 200px;
	padding-top: 80px;
	height: 100%;
	position: absolute;
	float: left;
}

iframe {
	position: absolute;
	width: 800px;
	left: 50%;
	margin-top: 70px;
	height: 100%;
	margin-left: -400px;
	border: none;
	overflow: hidden;
}

html, body {
	height: 100%;
	overflow: hidden;
}

#cabecalhoParteEsquerda span {
	vertical-align: middle;
	padding-left: 20px;
	font-size: 12px;
}

#cabecalhoParteDireita {
	font-size: 20px;
	padding-top: 14px;
	padding-right: 20px;
	padding-top: 14px;
}

#cabecalhoParteDireita a {
	color: #FFDEB9 !important;
	transition: all 0.5s ease;
}

#cabecalhoParteDireita a:hover {
	text-shadow: -3px 0px 10px rgba(255, 255, 255, 1);
}

#cabecalhoParteEsquerda img {
	vertical-align: middle;
}

#cadastroDoacao>div {
	margin: 20px;
}

.rotulo {
	margin-bottom: 5px;
}

.primeirosDados input[type=text] {
	width: 150px;
}

.primeirosDados select {
	width: 250px;
	padding: 5px;
	font-size: 16px;
}

.botaoEspecial {
	box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
	padding: 5px;
	color: #FFF;
	cursor: default;
	margin: 10px;
	border-radius: 3px;
	background-color: rgba(227, 124, 55, 1);
	transition: all 0.5s ease;
}

section {
	padding-top: initial;
	height: 100%;
}

.botaoEspecial:hover {
	box-shadow: 1px 1px 10px 0px rgba(0, 255, 0, 0.75);
}
.marcado {
	box-shadow: 1px 1px 10px 0px rgba(0, 255, 0, 0.75);
	transition: all 0.5s ease;
}
.marcadoTexto {
	text-shadow: 2px 2px 7px rgba(0, 255, 0, 1);
	transition: all 0.5s ease;
	color: #0F0;
}
#opcaoPainel img {
	height: 30px;
	vertical-align: middle;
}

.botaoNormal {
	color: #FFF;
	padding: 5px;
	margin: 10px;
	transition: all 0.5s ease;
	cursor: default;
}

.botaoNormal:hover {
	color: #0F0;
}

input[type=radio], input[type=checkbox] {
	height: auto;
	width: auto;
	padding: auto;
	margin-top: auto;
	font-size: initial;
	border: none;
	border-radius: initial;
	box-shadow: none;
	vertical-align: middle;
}

#enquadrados {
	text-decoration: underline;
	cursor: pointer;
}

#alimentosEnquadrados {
	display: none;
	position: absolute;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	background: #333;
	color: #FFF;
	padding: 10px 20px 10px 5px;
	cursor: default;
	border-radius: 3px;
	box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
	font-size: 14px;
	border-radius: 3px;
	background: #333;
	max-height: 350px;
	top: 20px;
}

#alimentosEnquadrados li {
	margin-top: 10px;
}

#alimentosEnquadrados > div:first-child {
	text-align: right;
}

#alimentosEnquadrados i {
	font-size: 14px;
}
#alimentosEnquadrados ol {
	max-height: 310px;
	position: relative;
	overflow: auto;
}
#botSalvar, #botCancelar {
	
	width: 300px;
	border-radius: 5px;
	font-family: 'Ubuntu', sans-serif;
	color: #FFF;
	font-size: 20px;
	font-weight: 100;
	text-align: center;
	cursor: default;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}
#botSalvar {
	background: #DFDFDF;
}
#botCancelar {
	margin-top: 10px;
	transition: all 0.5s linear;
	background-color: rgba(227, 124, 55, 1);
}
#botCancelar:hover {
	background-color: rgba(187, 84, 15, 1);
}
#erros {
	position: absolute;
	width: 500px;
	height: auto;
	line-height: 40px;
	box-sizing: border-box;
	left: 50%;
	margin-left: -250px !important;
	display: none;
	font-size: 14px !important;
	font-weight: 300 !important;
	padding: 15px;
	box-shadow: 0px -2px 12px 0px rgba(50, 50, 50, 0.89);
	background-color: #D70202;
	color: #FFF !important;
}


.popupDecisao {
	width: 300px;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
	background-color: #008080;
	color: #FFF;
	font-size: 20px;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	top: 200px;
	display: none;
	cursor: default;
}

.popupSim {
	float: left;
}

.popupNao {
	float: right;
}

.popupSim, .popupNao {
	transition: all 0.5s linear;
	padding: 30px 0 0 0;
	cursor: pointer;
	font-size: 20px;
}

.popupSim:hover {
	color: #0F0;
}

.popupNao:hover {
	color: #F00;
}
