input[type=password] {
	text-align: center;
}

p {
	width: 320px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	font-weight: 100;
	text-align: justify;
}

#botSalvar {
	width: 280px;
}

#analiseSenha>div {
	width: 16.667%;
	cursor: default;
	float: left;
	text-align: center;
	box-sizing: border-box;
	line-height: 40px;
}

.corNormal {
	color: black;
	transition: all 1s ease;
}

.corRelacao {
	color: rgba(227, 124, 55, 1);
	transition: all 1s ease;
}

.corNormalMais {
	background-color: #FFF;
	color: rgba(227, 124, 55, 1);
	transition: all 1s ease;
}

.corRelacaoMais {
	color: #FFF;
	background-color: rgba(227, 124, 55, 1);
	transition: all 1s ease;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}

.bateuSim {
	background-color: rgba(227, 124, 55, 1);
	color: #FFF;
	transition: all 0.4s ease;
}

.bateuNao {
	color: rgba(227, 124, 55, 1);
	background-color: #FFF;
	transition: all 0.4s ease;
}

#analiseSenha>div:first-child {
	border: dashed 2px rgba(227, 124, 55, 1);
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

#analiseSenha>div:not(first-child):not(last-child) {
	border-top: dashed 2px rgba(227, 124, 55, 1);
	border-right: dashed 2px rgba(227, 124, 55, 1);
	border-bottom: dashed 2px rgba(227, 124, 55, 1);
}

#analiseSenha>div:last-child {
	border-top: dashed 2px rgba(227, 124, 55, 1);
	border-right: dashed 2px rgba(227, 124, 55, 1);
	border-bottom: dashed 2px rgba(227, 124, 55, 1);
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#analiseSenha {
	height: 40px;
	width: 316px;
}

.fundoBranco {
	background-color: #FFF;
	transition: all 0.4s ease;
}

.fundoErro {
	background-color: #FFD8CE;
	transition: all 0.4s ease;
}

.fundoCerto {
	background-color: #D1FF93;
	transition: all 0.4s ease;
}

#botSalvar {
	display: none;
}

#botSalvar, #analiseSenha {
	margin-top: 30px;
}

#termosUso {
	font-size: 14px;
	width: 320px;
	height: 40px;
	vertical-align: middle;
}

#termosDeUso {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	z-index: 99;
	display: none;
}

#termosDeUso>div {
	width: 600px;
	position: absolute;
	left: 50%;
	top: 30px;
	margin-left: -300px;
	background-color: #FFF;
	box-shadow: 0px -2px 12px 0px rgba(50, 50, 50, 0.89);
	padding: 20px;
}

#termosDeUso>div>p {
	margin-top: 30px;
	font-family: monospace;
	font-size: 14px;
	width: 600px;
	height: 500px;
	overflow: auto;
}

#fecharTermos {
	position: absolute;
	width: 600px;
	margin-left: -300px;
	left: 50%;
	background: #FFF;
	text-align: right;
}

#fecharTermos>span {
	font-size: 20px;
	cursor: default;
}

#termosUso>div {
	float: left;
	height: 35px;
}

#termosUso>div:last-child {
	width: 250px;
	cursor: pointer;
	transition: all 0.3s ease;
}

#termosUso>div:last-child:hover {
	color: #47B405;
}

#termosUso>div:first-child {
	padding-top: 10px;
	padding-right: 10px;
}

#termosUso  input[type=checkbox] {
	margin-top: 0;
	height: auto;
	width: auto;
	border: none;
	border-radius: none;
	box-shadow: none;
}

#aceito {
	font-size: 20px;
}