#cadastroInicio > div, #cadastroFinal > div {
	display: block;
	text-align: left;
	font-family: 'Ubuntu', sans-serif;
	font-size: 21px;
	font-weight: 200;
	color: #373737;
	margin-bottom: 20px;
	
	
}
body, html {
	overflow: initial;
}
.primeirosDados {
	color: rgba(227, 124, 55, 1);
	font-family: 'Ubuntu', sans-serif;
}
input[type=radio] {
	width: auto;
	vertical-align: sub;
}
#cadastroInicio, #cadastroFinal {
	position: absolute;
	left: 50%;
	width: 350px;
	bottom: initial;
	margin-left: -175px;
	top: 200px;
	
}
.rotulo, .primeirosDados {
	font-size: 14px;
}
#botContinuar {
	width: 300px;
}

input, textarea {
	height: 20px;
	padding: 10px;
	margin-top: 3px;
	font-size: 14px;
	width: 300px;
	border: none;
	border-radius: 5px;
	box-shadow: inset 0px 0px 7px 0px rgba(50, 50, 50, 0.75);
}
input[type=radio] {
	height: auto;
	padding: auto;
	vertical-align: sub;
	margin-top: auto;
	font-size: initial;
	border: none;
	border-radius: initial;
	box-shadow: none;

}