body, html {
	position: relative;
	height: 100%;
	margin: 0;
}
#cadastroInicio > div {
	display: inline-block;
	text-align: left;
	font-family: 'Ubuntu', sans-serif;
	font-size: 21px;
	font-weight: 600;
	color: #373737;
	
}
.destaque {
	color: #448C37;
}
.rotulo {
	font-weight: 200;
	
}
#botContinuar {
	display: inline-block;
	height: 40px;
	padding-top: 20px;
	margin-bottom: 5px;
	padding-bottom: 0px;
	vertical-align: middle;
	width: 120px;
}
.numeroPasso {
	margin: 10px;
	cursor: default;
	border-radius: 20px;
	height: 20px;
	font-size: 12px;
	color: #FFF;
	line-height: 20px;
	width: 20px;
	border: none;
	background: rgba(121, 202, 69, 1);
}
.numeroPassoPosicaoAtual {
	background: rgba(227, 124, 55, 1);
}
#passos {
	text-align: center;
	width: 100%;
	display: inline-block;
}
#passos > div {
	display: inline-block;
	
}

#erros {
	position: fixed;
	width: 100%;
	height: auto;
	line-height: 40px;
	box-sizing: border-box;
	left: 0;
	display: none;
	bottom: -1500px;
	font-size: 14px !important;
	font-weight: 300 !important;
	padding: 15px;
	box-shadow: 0px -2px 12px 0px rgba(50, 50, 50, 0.89);
	background-color: #D70202;
	color: #FFF !important;
	margin-bottom: 0 !important;
}
.traco {
	color: #41B814;
	cursor: default;
}

#emailUsuario, #cepUsuario {
	height: 40px;
	margin: 10px 10px 10px 0;
	padding: 10px;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	box-shadow: inset 0px 0px 7px 0px rgba(50, 50, 50, 0.75);
}

h1, h2 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 100;
}
h2 {
	font-size: 21px;
	color: #444;
}
h1 {
	font-size: 35px;
}
#faixaCentral, #cadastroInicio {
	
	width: 100%;
	text-align: center;
}
#faixaCentral {
	position: absolute;
}
#cadastroInicio {
	vertical-align: bottom;
	height: 55%;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}
#emailUsuario {
	width: 400px;
}