input[type=password] {
	text-align: center;
}

p {
	width: 320px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	font-weight: 100;
	text-align: justify;
}

#botSalvar {
	width: 280px;
}

#analiseSenha > div {
	width: 20%;
	cursor: default;
	float: left;
	text-align: center;
	box-sizing: border-box;
	line-height: 40px;
}

.corNormal {
	color: black;
	transition: all 1s ease;
}

.corRelacao {
	color: rgba(227, 124, 55, 1);
	transition: all 1s ease;
}

.corNormalMais {
	background-color: #FFF;
	color: rgba(227, 124, 55, 1);
	transition: all 1s ease;
}

.corRelacaoMais {
	color: #FFF;
	background-color: rgba(227, 124, 55, 1);
	transition: all 1s ease;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}

.bateuSim {
	background-color: rgba(227, 124, 55, 1);
	color: #FFF;
	transition: all 0.4s ease;
}

.bateuNao {
	color: rgba(227, 124, 55, 1);
	background-color: #FFF;
	transition: all 0.4s ease;
}

#analiseSenha > div:first-child {
	border: dashed 2px rgba(227, 124, 55, 1);
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

#analiseSenha > div:not(first-child):not(last-child) {
	border-top: dashed 2px rgba(227, 124, 55, 1);
	border-right: dashed 2px rgba(227, 124, 55, 1);
	border-bottom: dashed 2px rgba(227, 124, 55, 1);
}

#analiseSenha > div:last-child {
	border-top: dashed 2px rgba(227, 124, 55, 1);
	border-right: dashed 2px rgba(227, 124, 55, 1);
	border-bottom: dashed 2px rgba(227, 124, 55, 1);
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#analiseSenha {
	height: 40px;
	width: 316px;
}

.fundoBranco {
	background-color: #FFF;
	transition: all 0.4s ease;
}

.fundoErro {
	background-color: #FFD8CE;
	transition: all 0.4s ease;
}

.fundoCerto {
	background-color: #D1FF93;
	transition: all 0.4s ease;
}

#botSalvar {
	display: none;
}

#botSalvar, #analiseSenha {
	margin-top: 30px;
}
#cadastroSenhaNova {
    position: absolute;
    left: 50%;
    width: 350px;
    bottom: initial;
    margin-left: -175px;
    top: 200px;
}
#cadastroSenhaNova > div {
	margin-top: 10px;
}
#faixaCentral {
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	color: #377737;
}