#faixaCentral:hover {
	background: rgba(65, 184, 20, 0.4);
}

#faixaCentral {
	text-shadow: -2px -2px 1px rgba(0, 0, 0, 1);
	background: rgba(65, 184, 20, 0); 
	transition: all 0.5s ease;
	position: absolute;
	width: 100%;
	padding: 100px 0 50px 0;
	top: 70px;
	text-align: center;
}
#faixaCentral h2 {
	color: #FFF;
	text-align: center;
	margin-top: 50px;
	font-size: 30px;
	font-family: 'Ubuntu', sans-serif;
}